.feature {
    text-align: center;

    &.feature_col {
        @include media-breakpoint-up(xl) {
            @include fw(100%/12*4);
        }

        @include media-breakpoint-only(lg) {
            @include fw(100%/12*3);
        }

        @include media-breakpoint-up(lg) {
            @include px(16px);
            margin: 0 0 72px;
        }

        @include media-breakpoint-down(md) {
            @include fw(100%);
            @include px(20px);
            margin: 0 0 24px;
        }
    }
}

.feature__icon {
    @include inline-block;
    @include size(64px,64px);
    margin: 0 0 8px;
}

.feature__text {
    @include fs-lh(18px,22px);
    text-align: left;
    letter-spacing: 0.05em;
    color: $color__brand_default;

    @include media-breakpoint-up(lg) {
        width: (100%/12*10);
        margin: 0 0 0 (100%/12);
    }
}