.card {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    transition: all .3s ease;
    border: 1px solid #E5E5E5;

    @include media-breakpoint-down(sm) {
        margin: 0 0 28px;
    }

    &.card_hovered{
        &:hover {
            @include media-breakpoint-up(xl) {
                background: #F4F4F4;
            }
    
            .card__picture {
                &:before {
                    @include media-breakpoint-up(xl) {
                        opacity: 1;
                    }
                }
            }
    
            .card__body_visible {
                @include media-breakpoint-up(xl) {
                    opacity: 0;
                    z-index: 1;
                }
            }
    
            .card__body_hidden {
                @include media-breakpoint-up(xl) {
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
    }

    &.card_offset {
        @include media-breakpoint-up(xl) {
            margin: 0 40px 28px;
        }
    }
}

.card__picture {
    @include before;
    display: block;
    margin: 0 0 8px;

    &:before {
        @include pos(0,0);
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 2;
        transition: all .3s ease;
        background: rgba(7, 6, 87, 0.4);
    }
}

.card__label {
    @extend %flex-column;
    @extend %title-default;
    @include size(56px,56px);
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 1;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: url(../img/bg/icon-plan-sale-sm.svg) no-repeat scroll 50% rgba(0,0,0,0);
}

.card__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    transition: all .3s ease;

    @include media-breakpoint-up(md) {
        padding: 0 28px 22px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 20px 18px;
    }

    &.card__body_visible {
        @extend %zi-2;
    }

    &.card__body_hidden {
        @extend %zi-1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        padding-top: 24px;
        background: #F4F4F4;

        .card__header {
            margin: 0 0 20px;
        }

        .card__readmore {
            margin: 0 0 20px;
        }
    }
}

.card__header {
    flex-grow: 1;
    margin: 0 0 14px;
}

.card__title {
    @extend %title-default;
    color: $color__brand_optional;
}

.card__intro {
    @extend %flex-item;
    @include fs-lh(14px,18px);
    letter-spacing: 0.05em;
    color: #070657;
}

.card__date {
    @include fs-lh(18px,24px);
    letter-spacing: 0.03em;
    color: $color__brand_default;
}

.card__footer {
    //text-align: center;
}

.card__inner {
    margin: 0 0 14px;
}

.card__text {
    line-height: 18px;
    letter-spacing: 0.05em;
}

.card__subtitle {
    @include fs-lh(14px,18px);
    letter-spacing: 0.05em;
}

.card__price {
    @extend %title-default;
    @include inline-block;
    margin: 0 32px 0 0;
    color: #070657;

    &.card__price_colored {
        color: $color__brand_optional;
    }

    &.card__price_old {
        @include before;
        color: #C4C4C4;

        &:before {
            @include pos(10px,0);
            right: 0;
            height: 2px;
            background: #9D9D9D;
            transform: rotate(15deg);
            transform-origin: left top;
        }
    }
}

.card__readmore {
    @extend %flex-item;
    @include font(14px,500);
    line-height: 16px;
    letter-spacing: 0.05em;
    margin: 0 0 14px;
}