.wrapper {
    transition: all .3s ease;

    @include media-breakpoint-up(xl) {
        @include fw(calc(100% - 296px));
    }

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    @include media-breakpoint-only(lg) {
        @include fw(100%);
    }

    &.wrapper_row {
        @include media-breakpoint-up(lg) {
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }

    &.wrapper_column {
        @include media-breakpoint-up(lg) {
            flex-direction: column;
            align-items: stretch;
        }

        .footer {
            @include media-breakpoint-up(lg) {
                @include fw(auto);
            }
        }
    }

    &.wrapper_wide {
        @include fw(100%);
    }
}