extends base.pug

block meta
  - var title = 'Базовые курсы';

block wrapper
  .wrapper.wrapper_column
    .content.content_lg
      header.content__header.content__header_bg
        .content__title.content__title_lg #{title}

      block content
        .content__body
          .grid.grid_mingap
            .card
              a.card__picture(href="#")
                img.img-fluid(src="/img/content/courses/1.jpg" alt="")
              .card__body
                header.card__header
                  a.card__title(href="#") Первая волна
                  .card__intro
                    | Старт: 
                    span.card__date 12 марта 2021
                footer.card__footer
                  .card__inner
                    .card__subtitle Личный куратор
                    .card__price 3 999₽
                  a.card__readmore(href="#")
                    | узнать больше
                    svg.icon-next
                      use(xlink:href="#icon-arrow-long")
                  a.btn.btn_lg(href="#") перейти к курсу

            .card
              a.card__picture(href="#")
                img.img-fluid(src="/img/content/courses/2.jpg" alt="")
              .card__body
                header.card__header
                  a.card__title(href="#") Вторая волна
                footer.card__footer
                  .card__inner
                    .card__subtitle Курс «Первая волна»‎
                    .card__price.card__price_colored 7 999₽
                  .card__inner
                    .card__subtitle Курс с куратором
                    .card__price 11 998₽
                  a.card__readmore(href="#")
                    | узнать больше
                    svg.icon-next
                      use(xlink:href="#icon-arrow-long")
                  a.btn.btn_lg.btn_colored(href="#") перейти к курсу

            .card
              a.card__picture(href="#")
                img.img-fluid(src="/img/content/courses/3.jpg" alt="")
              .card__body
                header.card__header
                  a.card__title(href="#") Третья волна
                footer.card__footer
                  .card__inner
                    .card__subtitle Стоимость курса
                    .card__price.card__price_colored 7 999₽
                  .card__inner
                    .card__subtitle Курс с куратором
                    .card__price 11 998₽
                  a.card__readmore(href="#")
                    | узнать больше
                    svg.icon-next
                      use(xlink:href="#icon-arrow-long")
                  a.btn.btn_lg.btn_colored(href="#") перейти к курсу

    include includes/base/footer.pug