footer.footer
	.footer__top
		.footer__col.footer__col_lg
			.footer__title Присоединяйтесь к нам:
			nav.social
				.social__row
					a.social__item.social__item_inst(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-inst")
					a.social__item.social__item_fb(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-fb")
					a.social__item.social__item_vk(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-vk")
				.social__row
					a.social__item.social__item_tiktok(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-tiktok")
					a.social__item.social__item_yt(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-yt")
					a.social__item.social__item_tg(href="#" rel="nofollow" target="_blank")
						svg.icon-fluid
							use(xlink:href="#icon-social-tg")

		.footer__col.footer__col_md
			.footer__title контакты:
			nav.contacts
				a.contacts__item(href="tel:+79034071717")
					svg.contacts__icon.contacts__icon_phone
						use(xlink:href="#icon-phone")
					| +7 (903) 407-17-17
				a.contacts__item(href="https://wa.me/79034071717")
					svg.contacts__icon.contacts__icon_wapp
						use(xlink:href="#icon-wapp")
					| +7 (903) 407-17-17
				a.contacts__item(href="#" rel="nofollow" target="_blank")
					svg.contacts__icon.contacts__icon_inst
						use(xlink:href="#icon-inst")
					| @onwavesru
				a.contacts__item(href="mailto:onwaves@onwaves.ru" rel="nofollow" target="_blank")
					svg.contacts__icon.contacts__icon_email
						use(xlink:href="#icon-email")
					| onwaves@onwaves.ru

		.footer__col.footer__col_sm
			.footer__logo
				svg.icon-fluid
					use(xlink:href="#icon-logo-large")

	.footer__bottom
		//-nav.footer__nav
			a.footer__link(href="#") Политика конфиденциальности
			a.footer__link(href="#") Пользовательское Соглашение
			a.footer__link(href="#") Описание процесса оплаты
			a.footer__link(href="#") Документы о педагогической деятельности

		.footer__copyright Все права защищены  ©  2020 год

block tooltip